@font-face {
  font-family: 'H5PGameMap';
  src:
    url('@assets/fonts/H5PGameMap.eot') format('embedded-opentype'),
    url('@assets/fonts/H5PGameMap.ttf') format('truetype'),
    url('@assets/fonts/H5PGameMap.woff') format('woff'),
    url('@assets/fonts/H5PGameMap.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.h5p-gamemap-editor {
  .field.wizard {

    &.field-name-gamemapSteps {
      position: relative;
    }

    .h5peditor-panes {
      &>.group > .content {
        border: none;
      }
    }

    .h5peditor-tab-backgroundimagesettings {
      &:before {
        content: "\f03e";
        font-family: "H5PFontAwesome4", sans-serif;
      }

      &:not(.nav-button-label):before {
        font-size: 1.75em;
        margin-top: 0.3em;
      }

      &.nav-button-label:before {
        font-size: 1em;
        margin-right: 0.25em;
      }
    }

    .h5peditor-tab-gamemap {
      &:before {
        content: "\f11b";
        font-family: "H5PFontAwesome4", sans-serif;
      }

      &:not(.nav-button-label):before {
        font-size: 1.75em;
        margin-top: 0.3em;
      }

      &.nav-button-label:before {
        font-size: 1em;
        margin-right: 0.25em;
      }
    }
  }

  .h5p-confirmation-dialog-background {
    position: absolute;
  }

  .field-name-visual .field-name-paths .field-name-style {
    .field-name-colorPathCleared.display-none {
      display: none;
    }

    &.display-none {
      display: none;
    }
  }

  .h5peditor-dragnbar .h5p-dragnbar-li .h5p-dragnbar-tooltip {
    font-size: 0.9em;
  }
}

.h5peditor-game-map {
  --map-aspect-ratio: 16/9;

  width: 100%;

  &> .group > .title {
    display: none;
  }
}
