@font-face {
  font-family: 'H5PGameMap';
  src: url('@assets/fonts/H5PGameMap.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.h5p-gamemap-editor {
  --group-border-color: #d0d0d1; /* Copied from group .content */
  --label-color: #454347; /* Copied from .h5peditor-label */
  --description-color: #434446; /* Copied from .h5peditor-field-description */
  --background-color: #ffffff;

  .field.wizard {

    .h5peditor-panes {
      &>.group > .content {
        border: none;
      }
    }
  }

  .h5p-confirmation-dialog-background {
    position: absolute;
  }

  .field-name-visual .field-name-paths .field-name-style {
    .field-name-colorPathCleared.display-none {
      display: none;
    }

    &.display-none {
      display: none;
    }
  }

  .field-name-behaviour {
    .field-name-livesDetails.display-none {
      display: none;
    }
  }

  .h5peditor-dragnbar .h5p-dragnbar-li .h5p-dragnbar-tooltip {
    font-size: 0.9em;
  }
}

.h5peditor-game-map {
  width: 100%;

  .field-name-mapOptions {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
  }

  &.blocked {
    filter: grayscale(60%) contrast(85%) saturate(60%) blur(1px) opacity(0.85);
    pointer-events: none;
  }
}
