.h5p-gamemap-editor {
  .h5p-editor-game-map-element {
    border-radius: 50%;
    cursor: move;
    position: absolute;

    &.h5p-moving {
      opacity: 1;
    }

    .h5p-editor-game-map-element-content {
      box-sizing: border-box;
      height: 100%;
      position: relative;
      width: 100%;
    }

    &:hover, &:focus {
      outline: 2px ridge #000000;
      outline-offset: 2px;
    }
  }

  .field-name-specialStageExtraLives.display-none {
    display: none;
  }

  .field-name-specialStageExtraTime.display-none {
    display: none;
  }

  .field-name-specialStageLinkURL.display-none {
    display: none;
  }

  .field-name-specialStageLinkTarget.display-none {
    display: none;
  }
}
