.gamemapdynamiccheckboxes {
  .h5p-gamemap-editor-neighbors {
    margin-left: 1em;

    .h5p-label-text {
      vertical-align: middle;
      display: inline-block;
      padding-left: 0.2rem;
    }

    .h5p-gamemap-editor-neighbors-list {
      margin: 0;
      padding: 0;
      list-style: none;
      background: transparent;
    }
  }
}
