.h5p-editor-game-map-editor-map {
  background-color: var(--editor-fields-gamemapSteps-backgroundImageSettings-backgroundColor, #fff);
  box-sizing: border-box;
  display: block;
  position: relative;
  z-index: 0;

  &.display-none {
    display: none;
  }

  .h5p-editor-game-map-editor-map-background-image {
    display: block;
    height: auto;
    width: 100%;
    pointer-events: none;
  }

  .h5p-editor-game-map-editor-map-background-image-placeholder {
    aspect-ratio: var(--map-aspect-ratio);

    &.display-none {
      display: none;
    }
  }

  .h5p-editor-game-map-editor-map-path-wrapper {
    height: 100%;
    width: 100%;
  }

  .h5p-editor-game-map-editor-map-stage-wrapper {
    height: 100%;
    width: 100%;
  }
}
