.h5p-game-map-edge {
  border-top: var(--editor-fields-visual-paths-pathWidth, 4px) var(--editor-fields-visual-paths-pathStyle, solid) var(--editor-fields-visual-paths-colorPath, rgba(0, 0, 0, 0.7));
  position: absolute;
  transform-origin: 0 center;
}
