.h5p-editor-game-map-editor {
  box-sizing: border-box;
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-area: 1 / 1 / 1 / 1;
  position: relative;
  width: 100%;

  &.display-none {
    display: none;
  }
}
