.h5p-editor-game-map-editor {
  --icon-font-awesome-bolt: "\f0e7";
  --icon-font-awesome-clock: "\f017";
  --icon-font-awesome-flag-checkered: "\f11e";
  --icon-font-awesome-heart: "\f004";
  --icon-font-awesome-link: "\f0c1";

  box-sizing: border-box;
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-area: 1 / 1 / 1 / 1;
  position: relative;
  width: 100%;

  &.display-none {
    display: none;
  }
}
