.h5p-game-map-element {
  cursor: move;
  min-width: 42px;
  min-height: 42px;
  position: absolute;

  &.h5p-moving {
    opacity: 1;
  }

  .h5p-game-map-element-content {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    width: 100%;

    &.h5p-game-map-element-content-stage {
      background-color: rgba(255,0,0,0.4);
      border: 2px solid rgba(0,0,0,0.4);
      border-radius: 50%;
    }
  }
}
