.value-row {
  padding-block: 0.25rem;
}

input.h5peditor-game-map-score-scaling-table-weight {
  background: var(--background-color);
  border: 1px solid var(--group-border-color);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .12);
  box-sizing: border-box;
  margin: 0;
  width: 8ch;
}

input.h5peditor-game-map-score-scaling-table-weighted-max-score {
  background: var(--background-color);
  border: 1px solid var(--group-border-color);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .12);
  box-sizing: border-box;
  margin: 0;
  width: 8ch;
}
